observedAt("be","what v somewhere ?","water vapor",1).
observedAt("be","where does something v ?","in the atmosphere",1).
lvalue("in the atmosphere","atmosphere").
observedAt("lift","what is v up ?","water vapor",2).
observedAt("lift","how is something v ?","up",2).
observedAt("lift","what is v ?","vapor",3).
observedAt("lift","where is something v ?","below dew point",3).
observedAt("cool","what v somewhere ?","lifted vapor",3).
observedAt("cool","where does something v ?","below dew point",3).
observedAt("turn","what v into something ?","vapor",4).
observedAt("turn","what does something v into ?","into a solid",4).
observedAt("aggregate","what v into something ?","cloud droplets",5).
observedAt("aggregate","how does something v ?","into larger sizes",5).
observedAt("aggregate","what does something v into ?","larger sizes",5).
observedAt("drop","what v from something ?","cloud droplets",6).
observedAt("drop","where does something v ?","from the sky",6).
lvalue("from the sky","sky").
observedAt("drop","what does something v from ?","the sky",6).
lvalue("the sky","sky").
time(1..6).
participant(p1;p2).
description(p1,"water vapor").
description(p1,"lifted vapor").
description(p1,"vapor").
description(p2,"solid").
description(p2,"cloud droplets").
annotator(a1;a2;a3;a4;a5).
refers(1,p1,"water vapor").
refers(2,p1,"water vapor").
refers(3,p1,"vapor").
refers(3,p1,"lifted vapor").
refers(4,p1,"vapor").
refers(4,p2,"into a solid").
refers(5,p2,"cloud droplets").
refers(6,p2,"cloud droplets").
